body
{
    margin: 0;
    padding: 0;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#tsu{
    position:absolute;
    top:-150px;
    left:200px;
}
h1 {
    margin: 0 0 10px;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 29px;
    position:absolute;
    top:-45px;
    left:100px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;

}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing:border-box;
    top: 0.5s;
}
input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}
input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius:0 25px 25px 0 ;
    width:90px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: rgba(87, 190, 225, 0.79);
    color: beige;


}
input[type="submit"]:hover{
    background: rgba(217, 135, 228, 0.649);

}
